<div class="container">
  <section class="user-page">
    <div class="user-page-info">
    <img src="<%= @user.photo %>" alt="User image" class="user-img" />
      <div class="user-page-info__description">
        <h2><%= @user.name %></h2>
        <p>Number of posts: <span id="user-posts"><%= @user.posts_counter %></span></p>
      </div>
      <div class="user--page-info__bio">
        <h2>About me</h2>
        <p><%= @user.bio %></p>
      </div>
      <%= link_to "Create post", new_user_post_path(@user), class: "btn btn-primary" %>
    </div>
      <% @user.recent_posts.each do |posts| %>
    <div class="user-page-posts">
      <div class="post-card">
        <div class="post-card__content">
          <div class="post-card__title">
            <h2><%= link_to posts.title, user_post_path(@user, posts)%> <%= link_to "Destroy", user_post_path(@user, posts), :method => :delete, :confirm => "Are you sure?" %></h2>
            <span>Comments <%= posts.comments.count %>, Likes <%= posts.likes.count %></span>
          </div>
          
                      <p><%= posts.preview %>...</p>
        </div>
      </div>

        <% end %>
        <%# button to http://localhost:3000/users/1/posts %>
        <button class="btn">
        <%= link_to "All posts", user_posts_path(@user) %>
</button>
    </div>
  </section>
</div>
