<section class="login-section">
  <div class="logo-container">
    <img src="https://avatars.githubusercontent.com/u/69011963?u=e3db5bd13da14c6d99fa219fe40cdbac9028472a&v=4" alt="logo" class="logo-img" />
    <h1 class="logo">Log in</h1>
  </div>
  <div class="login-container"><%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> <%= f.label :email %> <%= f.email_field :email, autofocus: true, autocomplete: "email" %> <%= f.label :password %> <%= f.password_field :password, autocomplete: "current-password" %> <% if devise_mapping.rememberable? %> <%= f.check_box :remember_me %> <%= f.label :remember_me %> <% end %> <%= f.submit "Log in" %> <% end %> <%= render "devise/shared/links" %></div>
</section>